@use '../../theme.scss' as *;

.resume {
    padding-top: 60px;

    h5 {
        color: #F8F9FA;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
        position: absolute;
        margin-top: -48px;

        &::after {
            content: '';
            display: block;
            width: 90px;
            height: 2px;
            background-color: $border-color;
            border-radius: 4px;
        }

        @include breakpoints(sm) {
            font-size: 14px;
            margin-bottom: 32px;

            &::after {
                width: 50px;
            }
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        padding: 40px;
        border-radius: 24px;
        border: 1px solid $border-color;
        background: $linear-1;
        background-size: 200% 100%;
        background-position: 50% 0;
        max-width: 800px;
        margin: auto;
        transition: background-position 0.5s;

        &:hover {
            background-position: 0 0    ;
            // background: linear-gradient(276deg, #212529 33.81%, #343A40 100%);
        }

        @include breakpoints(sm) {
            padding: 60px 1rem;

        }

        .resume_row {
            text-align: left;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            h3 {
                font-size: 24px;
                font-family: Inter;
                line-height: 150%;
                font-weight: 500;
                color: $light-color;

                @include breakpoints(sm) {
                    font-size: 18px;
                }
            }

            p {
                padding: 8px 10px;
                background-color: $bg-color;
                height: fit-content;
                border-radius: 4px;
                text-transform: uppercase;

                @include breakpoints(sm) {
                    font-size: 11px;


                }
            }

        }

        h4 {
            color: #868E96;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            margin-top: 4px;

            @include breakpoints(sm) {
                font-size: 14px;
            }


        }

        hr {
            width: 100%;
            height: 1px;
            color: $border-color;
            background-color: $border-color;
            margin-block: 20px;
        }
    }

    .experience {
        .divider-vertical {
            height: 200px;
            display: block;
            width: 2px;
            background-color: $border-color;
            border-radius: 4px;
            margin: auto;
        }
    }

    .education {
        .divider-vertical:not(:last-child) {
            height: 200px;
            display: block;
            width: 2px;
            background-color: $border-color;
            border-radius: 4px;
            margin: auto;
        }
    }

    .skills {
        margin-top: 200px;

        .skill-set {
            display: flex;
            flex-direction: column;
            max-width: 800px;
            margin: 0 auto 2.5rem;

            .skill-description {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 4px;

                h6 {
                    margin: 0;
                    color: #ADB5BD;
                    font-size: 1rem;

                }

                p {
                    font-size: 1rem;
                }
            }

            .skill-range {
                width: 100%;
                height: 10px;
                background-color: #343A40;
                border-radius: 4px;

                &::before {
                    content: '';
                    display: block;
                    height: 100%;
                    background-color: #868E96;
                    border-radius: 4px;
                    width: var(--skill-level, 0%);
                }
            }
        }
    }
}