@use '../../theme.scss' as *;

header {
    position: relative;
    padding-top: 152px;
    width: 100%;

}

.header_container {
    position: relative;
    max-width: 1200px;
    // z-index: 99;
    // margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 24px;
    border: 1px solid $border-color;
    background: $linear-1;

    @include breakpoints(sm) {
        flex-direction: column-reverse;
        align-items: flex-start;
        padding-top: 96px;
        padding-bottom: 16px;
    }

    .header_content {
        padding-top: 96px;
        padding-left: 48px;
        display: flex;
        flex-direction: column;
        width: 50%;

        @include breakpoints(sm) {
            width: 100%;
            padding-top: 48px;
            padding-left: 16px;
        }

        h5 {
            color: #929ba4;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
            margin-bottom: 48px;

            @include breakpoints(sm) {
                margin-bottom: 24px;

            }
        }

        .stack {
            --stacks: 3;
            display: grid;
            grid-template-columns: 1fr;

            span {
                font-weight: 600;
                grid-row-start: 1;
                grid-column-start: 1;
                --stack-height: calc(100% / var(--stacks) - 1px);
                --inverse-index: calc(calc(var(--stacks) - 1) -var(--index));
                --clip-top: calc(var(--stack-height) * var(--index));
                --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
                clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
                animation: stack 340ms cubic-bezier(.46, .29, 0, 1.24) 1 backwards calc(var(--index) * 120ms), glitch 1s ease infinite 1s alternate-reverse;

                &:nth-child(odd) {
                    --glitch-translate: 8px;
                }

                &:nth-child(even) {
                    --glitch-translate: -8px;
                }
            }
        }

        @keyframes stack {
            0% {
                opacity: 0;
                transform: translateX(-50%);
                text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
            }

            60% {
                opacity: 0.5;
                transform: translateX(50%);
            }

            80% {
                transform: none;
                opacity: 1;
                text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
            }

            100% {
                text-shadow: none;
            }

        }

        @keyframes glitch {
            0% {
                text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
                transform: translate(var(--glitch-translate));
            }

            2% {
                text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
            }

            4%,
            100% {
                text-shadow: none;
                transform: none;
            }
        }

        .--index-0 {
            --index: 0;
        }

        .--index-1 {
            --index: 1;
        }

        .--index-2 {
            --index: 2;
        }

        h1 {
            color: $light-color;
            font-size: 64px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;

            @include breakpoints(md) {
                font-size: 48px;
            }

            @include breakpoints(sm) {
                font-size: 40px;
            }
        }

        .socials {
            display: flex;
            flex-direction: row;
            gap: 16px;
            margin-top: 48px;
            margin-bottom: 96px;

            @include breakpoints(sm) {
                flex-wrap: wrap;
            }


            .icon-wrapper {
                display: flex;
                width: 60px;
                height: 60px;
                padding: 10px;
                justify-content: center;
                align-items: center;
                border-radius: 16px;
                border: 1px solid $border-color;
                cursor: pointer;
                transition: $transition;



                &:hover {
                    background-color: $border-color;

                    svg {
                        color: $bg-color;
                        font-size: 24px;

                    }
                }
            }

            svg {
                font-size: 24px;
                color: #868E96;

            }
        }
    }

    .header_image {
        @include breakpoints(md) {
            padding-left: 48px;
        }

        img {
            max-width: 100%;
            height: 100%;
            filter: brightness(70%) saturate(120%) contrast(90%);


            @include breakpoints(md) {
                height: 40%;

            }

        }
    }
}